# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: 'go.mod'

      - name: Install goveralls
        if: ${{ github.ref == 'refs/heads/main' }}
        run: go install github.com/mattn/goveralls@latest

      # Install ALSA for building Oto
      - name: Install ALSA
        run: sudo apt install libasound2-dev

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v -covermode atomic -coverprofile=covprofile ./...

      - name: Gofmt
        run: gofmt -d ./

      - name: Send coverage
        if: ${{ github.ref == 'refs/heads/main' }}
        env:
          COVERALLS_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        run: goveralls -coverprofile=covprofile -service=github
